<form method="POST" action="/"> #the url is for the post url not /NEW url from get since we want to go to the post after user submits
    <input type="text" name="name">
    <input type="text" name="breed">
    <input type="text" name="age">

    <input type="submit" id="submit"> #rsepc look for submit via id
  </form>
